<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h4>Hello {{.Name}},</h4>
    <p>Thanks for joining the Dils Platform</p>
    <p>We have already set up your account. All you need to do is simply insert
    the activation code below on the web/mobile app.</p>
	<p> Activation Code: {{.Code}}</p>
    ​
  </body>
</html>
