<!DOCTYPE html>
<html>
  <head></head>
  <body>
	  <h4>Hello {{ .Name }},</h4>
	  <p>New Order for <b>{{.Amount}}</b>QC has been created. We'll inform you when
      there's a trade initiated on it.</p>
  </body>
</html>
