<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h4>Hello {{.Name}},</h4>
    <p>You have initiated a password reset, use your activation code to set a
	new password</p>
	<p> Activation Code: {{.Code}}</p>
    ​
  </body>
</html>
