<!DOCTYPE html>
<html>
  <head></head>
  <body>
	  <h4>Hello {{.Name}},</h4>
	  <p>A new buy order for <i>{{.Amount}}QC</i> has been initiated by
		<b>@{{.BuyerUsername}}</b> for order #{{.OrderID}}. Please proceed to commencing trade within
        timeframe.</p>
  </body>
</html>
